body{
  background-color: #E0B954;
  margin:0;
}

h1{
  background-color: black;
  color: whitesmoke;
  letter-spacing: 5px;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 0;
  margin-left: 0%;
  padding: 20px;
  font-weight: bolder;
  font-size: 50px;
  display:flex;
  justify-content: center;

}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.images_row{
  display:flex;
  flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p{
  color: black;
  font-size: 40px;
  text-align: center;
  background-color: #8e8e8e;
  padding: 50px;
}

button{
  color:whitesmoke;
  font-weight: bolder;
  background-color: rgb(171, 38, 38);
  border-color: rgb(171, 38, 38);
  border-style: none;

}


